{% load static %}
{% block content %}
{% include 'header.html' %}

<body>
    <!-- Carousel Start -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="height: 75vh;" class="d-block w-100" src="{% static 'img/student.jpg' %}" alt="First slide">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-sm-10 col-lg-8">
                        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Platform for Feedback and Concerns</h5>
                        <h1 class="display-3 text-white animated slideInDown">Student Complaint Box</h1>
                        <p class="fs-5 text-white mb-4 pb-2">A formal channel to voice Student issues and ensure a fair and timely resolution.</p>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                        <a href="userreg" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
  <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
         
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to StudentComplaintBox</h1>
                    <p class="mb-4">The Student Complaint Box and Grievance Support Service is a dedicated system established within educational institutions to address and resolve student concerns, complaints, and grievances. </p>
                    <p class="mb-4">This service is designed to provide students with a formal channel to voice their issues and ensure a fair and timely resolution. Here's a brief description:</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Accessibility: Typically, it is easily accessible to all students, often through an online platform or physical drop boxes located on campus. </p>
                        </div>
                       
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Confidentiality: Student complaints are handled with the utmost confidentiality, protecting the identity of the complainant while ensuring that the issue is addressed appropriately.</p>
                        </div>
                       
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Resolution and Support: The primary goal of the service is to find fair and effective resolutions to the complaints, providing support to students and maintaining their well-being throughout the process.</p>
                        </div>
                        
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


   <!-- Service Start -->
   <div class="container-xxl py-5">
      <div class="container">
         <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">More About Us</h6>
            <h1 class="mb-5">Our Specialities</h1>
         </div>
          <div class="row g-4">
              <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          
                          <h5 class="mb-3">Secure</h5>
                          <p>Student complaints are handled with the utmost confidentiality</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          
                          <h5 class="mb-3">private</h5>
                          <p>All Communications addressed only to the relevant person </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          
                          <h5 class="mb-3">Open</h5>
                          <p>The service follows a submit,review,and resolve process</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                  <div class="service-item text-center pt-3">
                      <div class="p-4">
                          
                          <h5 class="mb-3">Resolution</h5>
                          <p>The goal of the service is to find fair and effective resolutions</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Service End -->


   
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>

     
{% include 'footer.html' %}
{% endblock %}